<div class="logo">
    <img src="https://es.habcdn.com/static/img/web-logo.2x.png" width="25%"/>
</div>
<div class="home">
    <div>
        <h1 class="title"> Pide presupuestos </h1>
        <div class="subtitle">
            Construcciones y reformas, instalaciones, limpieza, mudanzas, arquitectos y más…
        </div>
    </div>
    <div class="container info">
        <div class="stepBudget">
            <div>
                <div class="container"> 
                    <mat-icon aria-hidden="false" aria-label="Example one icon">filter_1</mat-icon>
                    <h4> Cuéntanos qué necesitas</h4>
                </div>
                <div class="container"> 
                    <mat-icon aria-hidden="false" aria-label="Example two icon">filter_2</mat-icon>
                    <h4> Recibe hasta 4 presupuestos de tu zona</h4>
                </div>
                <div class="container"> 
                    <mat-icon aria-hidden="false" aria-label="Example three icon">filter_3</mat-icon>
                    <h4> Compara ofertas y elige (o no) la mejor</h4>
                </div>
            </div>
            <div class="container">
                <div class="infoBudgetImage">
                    <img src="https://es.habcdn.com/images/landing/rick/pros/generic.jpg" id="ql-professional" class="hidden-xs hidden-sm" alt="">
                </div>
                <div class="infoBudgetInfo">
                    <ul class="list-unstyled">
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Example loyalty icon">loyalty</mat-icon>
                            <strong>Es Gratis</strong>
                            <p>Recibe varios presupuestos de forma gratuita y sin compromiso.</p>
                        </li>
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Example schedule icon">schedule</mat-icon>
                            <strong>Ahorra Tiempo</strong>
                            <p>No pierdas tiempo buscando empresas. Ellas te contactan a ti.</p>
                        </li>
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Example attach_money icon">attach_money</mat-icon>
                            <strong>Ahorra dinero</strong>
                            <p>Tienes más de un presupuesto para comparar.</p>
                        </li>
                        <li>
                            <mat-icon aria-hidden="false" aria-label="Example supervisor_account icon">supervisor_account</mat-icon>
                            <strong>Encuentra a los mejores</strong>
                            <p>Elige a los profesionales mejor valorados por los usuarios.</p>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="budgetContainer">
            <app-budget></app-budget>
        </div>
    </div>
</div>
